body {
background-color: teal;
}
header, main, aside, footer {
  padding: 1em 2em;
}

header {
  background-color: black;
  color: white;
}

.menu {
  background-color: green;
}

aside {
  background-color: skyblue;
}

main {
  background-color: gray;
}

footer {
  background-color: black;
  color: white;
}

.item:nth-child(even) {
  background-color: tomato;
}

.item:nth-child(odd){
  background-color: gold;
}

.d-grid {
  display: grid;
  grid-gap: 10px;
}

.parrafos {
  grid-template-columns: repeat(4, 1fr);
}
